project02/src/main/app/project02.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:calculate-age="http://www.mulesoft.org/schema/mule/calculate-age" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/calculate-age http://www.mulesoft.org/schema/mule/calculate-age/current/mule-calculate-age.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
	<calculate-age:config name="CalculateAge__Configuration" doc:name="CalculateAge: Configuration"/>
	<flow name="project02Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
		<set-variable variableName="var1" value="#[&quot;Variable1&quot;]" doc:name="Variable"/>
		<calculate-age:calculate-age config-ref="CalculateAge__Configuration" dateOfBirth="1996/11/26" yourName="Ankur" doc:name="CalculateAge"/>
	</flow>
</mule>
